@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-700.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-800.woff2") format("woff2");
    font-weight: 800;
  }
}

@layer base {
  * {
    /* border: 1px solid red; */
  }
}