@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-700.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-800.woff2") format("woff2");
    font-weight: 800;
  }
}

@layer base {
  * {
    /* border: 1px solid red; */
  }
}

@layer components {
  .form-text {
    @apply text-primary font-bold text-3xl
  }

  .form-text__input {
    @apply text-center placeholder:text-light-primary text-primary font-bold bg-transparent border-b border-underline text-3xl focus:border-light-primary outline-none autofill:!bg-transparent autofill:!text-primary pb-1 
  }
}