@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-700.woff2") format("woff2");
    font-weight: 700;
  }
  @font-face {
    font-family: "Aspekta";
    src: url("./src/assets/fonts/Aspekta-800.woff2") format("woff2");
    font-weight: 800;
  }
}

@layers component {
  .form-input {
    @apply text-center placeholder:text-light-primary text-primary font-bold bg-transparent border-b border-underline pb-2 w-96 text-5xl focus:border-light-primary focus:border-b-4 outline-none autofill:!bg-transparent autofill:!text-primary;
  }
}